/* .center {
  display: flex;
  justify-content: center;
} */

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.login-form {
  height: 100%;
  width: 300px;
}

mat-card-title,
mat-card-content mat-card-actions {
  display: flex;
  justify-content: center;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-bottom: 24px
}

.button {
  position: relative;
  background: #673ab7;
  color: white;
  min-width: 128px;
}
